@media screen and (max-width: 640px){
  html, body {
      height: 100%;
      font-family: boomer;
      font-weight: bolder;
      margin: auto;
      text-align: center;
  }

  .menuBarButton {
      position: relative;
      width: 5%;
      display: block;
      float: left;
      cursor: pointer;
      margin-left: 4%;
      visibility: visible;
  }
  
  .menuBar {
    display: none;
  }
  
  @font-face {
    font-family: boomer;
    src: url(boomer.ttf);
    font-weight: normal;
  }

  .smallTitle{
    display: block;
    text- align: center;
    padding-right: 10%;
  }
      
  .homeImage {
   display: none;
  }
  
  /*Container*/
   .slideshow-container {
     position: absolute;
     max-height: 5px;
     width: 100%;
  }
  
  .top-left, .top-right-menu, .top-right-res, .top-right-contact, .centered {
    display: none;
  }
  
  a {
    font-weight: normal;
    text-decoration: none;
    color: black;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }

  h4 {
    text-align: center;
    margin-top: 3%;
  }

  /*Homepage Text*/
  .home-text {
      display: none;
  }

  .hide-small {
      display: none;
  }

  .first-text h1 {
    color: rgb(224,47,47);
  }

  /* Bottom Menu */
  .bottom-menu {
    clear: both;
    margin-top: 8%;
    text-align: center;
  }

  .bottom-menu a {
    background-color: #469C46;
    width: 10%;
    padding: 1%;
  }

  .bottom-menu a:hover {
    font-size: 110%;
  }

  /*Footer*/
  footer {
    background-color: #C0C0C0;
    padding: .5%;
    margin-top: 2%;
  }

  footer h4{
    margin-left: 3%;
  }

  a.contact-link {
    font-weight: bold;
    margin-left: -1%;
    color: #333333;
    margin-right: -.5%;
  }

  footer a:hover {
    color: black;
  }
}
