@media screen and (max-width: 415px){
  html, body {
      height: 100%;
      font-family: boomer;
      font-weight: bolder;
      margin: auto;
  }

  .menuBarButton {
      position: relative;
      width: 5%;
      display: block;
      float: left;
      cursor: pointer;
      margin-left: 4%;
      visibility: visible;
  }
  
  @font-face {
    font-family: boomer;
    src: url(boomer.ttf);
    font-weight: normal;
  }

  .smallTitle {
      display: block;
      text-align: center;
      padding-right: 10%;
  }
      
  .top {
      display: none;
  }

  a {
    font-weight: normal;
    text-decoration: none;
    color: black;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }

  .mySlides{
    height: 10%;
    width: 100%;
  }

  h4 {
    text-align: center;
    margin-top: 3%;
  }

  .garlic-fries1 {
    content:url("images/garlicfries.jpg");
    
  }
}

@media screen and (max-width: 1100px){
    html, body {
        height: 100%;
        max-width: 100%;
        font-family: boomer;
        font-weight: bolder;
        margin: auto;
    }

    @font-face {
        font-family: boomer;
        src: url(boomer.ttf);
        font-weight: normal;
      }

    .menuBarButton {
        position: relative;
        width: 5%;
        display: block;
        float: left;
        cursor: pointer;
        margin-left: 4%;
    }

    .smallTitle {
        display: block;
        text-align: center;
        padding-right: 10%;
    }
      
    .mySlides{
        height: 10%;
        width: 100%;
      }
        
    .top {
        display: none;
    }

    a {
      font-weight: normal;
      text-decoration: none;
      color: black;
    }
  
    a:link {
      text-decoration: none;
      color: black;
    }
  
    a:visited {
      text-decoration: none;
      color: black;
    }
  
    a:hover {
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-weight: bold;
    }

    h4 {
      text-align: center;
      margin-top: 3%;
    }
  
    .garlic-fries1 {
      width: 50%;
      margin-top: 5%;
      margin-left: 5%;
    }
} 
